/* reset styles
--------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* page styles 
--------------------------------------------- */
body {
	background:#D4DCDF;
	color: #2F2F2F;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 62.5%;
}
/*self-clear floats*/
.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*links*/
a {
	color:#00F;
}
a:hover {
	color:#666;
}
a:visited {
	color:#581C90;
}
p {
	line-height:1.5em;
	margin:0 0 .8em 0;
}
img {
	border:none;
}
h1 {
	color:#fe7902;
	font-size: 1.5em;
	font-weight:normal;
	padding: 0 0 7px 0;
}
h3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#fe7902;
	font-size: 1.6em;
	font-weight:normal;
	padding: 0 0 7px 0;
}
.h3_pdo_search {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#fe7902;
	font-size: 1.4em;
	font-weight:normal;
	padding: 0 0 7px 0;
}
#wrap {
	background: url(../gfx/content-bg.gif) top center repeat-y;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px 0 10px;
	font-size: 1.3em;
}
#content {
	clear:both;
	z-index:100;
}
/* old school rounded corners*/
.bl {
	background: url(../gfx/bl.jpg) 0 100% no-repeat #FFF;
	width: 100%;
}
.br {
	background: url(../gfx/br.jpg) 100% 100% no-repeat;
}
.tl {
	background: url(../gfx/tl.gif) 0 0 no-repeat;
}
.tr {
	background: url(../gfx/tr.jpg) 100% 0 no-repeat;
	overflow:hidden;
	padding:10px;
}
/*.daft-brand {
	font: normal 30px Verdana, "Lucida Grande", Lucida, sans-serif;
	letter-spacing:0.2em;
	color: #000000;
}
.banner_front {
	margin-right: auto;
	margin-left: auto;
	height: 100px;
	background-color: #cccccc;
	border-top-style: solid;
	border-top-width: 8px;
}
.links {
	margin-right: auto;
	margin-left: auto;
	height: 45px;
	width: 957px;
	margin-top: 20px;
}*/
.form {
	font: normal 10px Verdana, "Lucida Grande", Lucida, sans-serif;
	vertical-align: top;
	padding-bottom: 10px;
	list-style-type: decimal;
	padding-left: 12px;
	margin-left: 0;
	background:#f7f7f7;
	border:1px solid #CCC;
	padding:10px;
	margin-bottom:15px;
}
.form_pdo_search {
	font: normal 10px Verdana, "Lucida Grande", Lucida, sans-serif;
	vertical-align: top;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 0px;
	list-style-type: decimal;
	padding-left: 6px;
	margin-left: 0;
	background:#f7f7f7;
	border:1px solid #CCC;
}
.formelement {
	border: 1px solid #CCC;
	margin: 0 0 10px 5px;
}
.formlegend {
	font-size: 10px;
	margin: 0 0 10px 5px;
}
input.formlegend {
	margin: 0 0 10px 5px;
	margin-right:10px;
}
.formelement.button {
	background:#f8a23b;
	border:none;
	color:#432c02;
	font-size:1.5em;
	padding: 5px 10px;
	border:1px solid #cf7200;
	cursor:pointer;
}

.formlegend-top {
	vertical-align: top;
	font-size: 10px;
}
.flags {
	font: normal 10px Verdana, "Lucida Grande", Lucida, sans-serif;
	vertical-align: top;
	padding-bottom: 10px;
	float: none;
	position: relative;
	left: 30px;
	top: -7px;
}
.bottom {
	margin-right: auto;
	margin-left: auto;
	height: 30px;
	width:  957px;
	font: normal 9px Verdana, "Lucida Grande", Lucida, sans-serif;
	margin-top: 30px;
}
.phototips {
	width: 143px;
	height: 25px;
	color: white;
	text-indent: 5px;
	background: url(../gfx/phototips.jpg) no-repeat;
	padding-top: 5px;
	text-align: left;
	font-size: 10px;
	text-decoration: none;
}
.btn {
	height: 30px;
	font: 13px/31px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	color: white;
	text-align: center;
	background: url(../gfx/btn.png) repeat-x;
	margin-right: 2px;
	padding-left:6px;
	padding-right:6px;
}
.btn_bk {
	height: 30px;
	font: 13px/31px Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	color: white;
	text-align: center;
	margin-right: 2px;
	background-color: black;
	padding-left:6px;
	padding-right:6px;
}
.terms {
	color: red;
	text-decoration: none;
	font-stretch: narrower;
}
.stealth {
	margin-right: auto;
	margin-left: auto;
	text-decoration: none;
	color: white;
}
#introduction {
	margin-bottom:15px;
}
#header {
	background:#D4DCDF url(../gfx/header-bg.gif) repeat-y top center;
	width: 960px;
	margin:0 auto;
	font-size: 1.3em;
	overflow:hidden;
}
#header img {
	float:left;
	margin:10px 0;
}
#header ul {
	float:right;
	padding:40px 0 0 0;
}
#header li {
	background:url(../gfx/nav-divider.gif) no-repeat;
	display:inline;
	padding: 0 15px 0 18px;
}
#header li.first {
	background:none;
}
#header li.last {
	padding-right:0;
}
#header li a {
	color:#044275;
	font-size:1.3em;
	text-decoration:none;
}
#header li a:hover {
	color:#666666;
}

input.button {
	background:#f8a23b;
	border:none;
	color:#432c02;
	font-size:1em;
	padding: 5px 10px;
	border:1px solid #cf7200;
	cursor:pointer;
}

input.button_small {
	background:#f8a23b;
	border:none;
	color:#432c02;
	font-size:0.8em;
	padding: 1px 2px;
	border:1px solid #cf7200;
	cursor:pointer;
}

/* footer
--------------------------------------------- */
#footer {
	background:#D4DCDF url(../gfx/footer-bg.gif) no-repeat top left;
	width: 960px;
	margin:0 auto;
	font-size: 1.3em;
	padding:15px 0;
}
#footer ul {
	float:left;
}
#footer a {
	color:#044275;
}
ul#bottom-nav {
	float:right;
}
ul#bottom-nav li {
	display:inline;
	padding: 0 0 0 15px;
}
ul#bottom-nav .site-by {
	display:block;
	text-align:right;
}
ul#bottom-nav .site-by a {
	color:#81919F;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:.8em;
	text-decoration:none;
}
ul#bottom-nav .site-by a:hover {
	color:#FE7902;
}
