.tip-wrap {
	display: none;
}
.tip {
	color: #000;
	width: 200px;
	height:300px;
	background-color: #D4DCDF;
	border:1px solid #CCC;
	z-index: 13000;
}
.tip-title {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#fe7902;
	font-size: 1.3em;
	font-weight:normal;
	padding: 7px;
}
.tip-text {
	font-size: 11px;
	padding: 4px 8px 8px;
}
.tip-text img{margin-left: 7px;}
